<div class="bg-indigo-900 grid h-screen place-items-center">
  <div class="bg-white rounded-md shadow-md h-5/6 w-4/6 py-5 px-10 overflow-x-auto">
    <h1 class="text-black font-bangers text-5xl text-center">TriviAwto</h1>
    <div class="prose flex flex-col mt-5">
      <div *ngFor="let question of questions; let i = index" class="font-sans">
        <span class="font-bold">{{ i + 1 }}.</span> {{ question.question }}
        <div class="px-5">
          <nz-radio-group class="flex flex-col">
            <label *ngFor="let option of question.incorrect_answers" nz-radio [nzValue]="option">{{ option }}</label>
            <label nz-radio [nzValue]="question.correct_answer">
              {{ question.correct_answer }}</label>
          </nz-radio-group>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center py-5">
    <a routerLink="results">
      <button nz-button nzType="primary" nzSize="large"
        class="bg-yellow-400 hover:bg-yellow-300 active:hover:bg-yellow-300 font-bangers text-xl tracking-widest">
        Finish
      </button>
    </a>
  </div>
</div>